html,body{
	color: #222;
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

#app{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	flex: 1 0 auto;
	flex-grow: initial;
}

.navbar {
	position: relative;
	padding: .3rem;
}
.nav-item-r {
	padding-right: 20px;
	text-align: right;
}
.nav-link {
	font-size: 1.1rem;
	color: #222;
}

.imgheader {
	position: relative;
	width: 100%;
	float: right;
}

.dropdown{
	text-decoration: none;
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.dropdown-menu{
	border-radius: 0;
}
.dropdown-item{
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.1rem;
}
.mainbutton-menu{
	list-style-type: none;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6;
	padding: 0.8rem;
	background-color: transparent;
	cursor: pointer;
}

.mainbutton-menu:hover{
	color: #fff;
	opacity: 0.8;
	transition: 0.6s all;
}

.dropdown-child{
	position: absolute;
	display: none;
	width: 20vw;
	text-decoration: none;
	background-color: #222;
	z-index: 10;
}
.dropdown-child-link{
	color: #fff;
	padding: 0.2rem;
	font-size: 2.8rem;
	text-decoration: none;
	display : block;
}
.dropdown-child-link:hover{
	color: #fff;
	background-color: #fff;
	text-decoration: none;
	position: relative;
	flex-grow: 1;
}

.dropdown:hover div.dropdown-child{
	display : block;
	transition: 0.5s all;
}

#recettes-menu {
	height: 18vh;
	background-image: url('/img/recettes-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#vin-menu {
	height: 18vh;
	background-image: url('/img/vin-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#australie-menu {
	height: 18vh;
	background-image: url('/img/australie-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#guyane-menu {
	height: 18vh;
	background-image: url('/img/guyane-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#maroc-menu {
	height: 18vh;
	background-image: url('/img/maroc-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#corse-menu {
	height: 18vh;
	background-image: url('/img/gr20-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#summits-menu {
	height: 18vh;
	background-image: url('/img/kilimandjaro-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#idf-menu {
	height: 18vh;
	background-image: url('/img/idf-menu.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#pyrenees-menu {
	height: 18vh;
	background-image: url('/img/pyrenees-menu.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.contenu{
	display: flex;
	flex-direction : column;
	flex: 1;
	height: 100%;
}
.carouselimg {
	position: relative;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}
.carousel-titre1{
	font-size: 450%;
	text-transform: uppercase;
	text-shadow: 1px 3px 15px #000;
	font-weight: 400;
	line-height: 1.4;
	z-index: 5;
}
.carousel-titre2{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
	z-index: 5;
}

.btn-primary{
	background-color: #6648b1;
	border: 1px solid #563d7c;
}
.btn-primary:hover{
	background-color: #563d7c;
	border: 1px solid #563d7c;
}
.btn-outline-secondary:hover{
	background-color: #999999;
	color: #fff;
}


.jumbotron{
	padding: 1rem;
	border-radius: 0px;
	width: 100%;
	margin-bottom: 1rem;
}

.movies-title{
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	color: #2e2e2e;
}
.connect-title{
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
	color: #2e2e2e;
	text-transform: uppercase;
}

.lead {
	font-size: 1.2rem;
}

.style1 {
	border-top: 2px solid #b4b4b4;
	width: 250px;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.style2 {
	border-top: 2px solid #b4b4b4;
	width: 250px;
	margin-top: .3rem;
}
.style3 {
	border-top: 2px solid #b4b4b4;
	width: 450px;
	margin-top: .3rem;
}
.style4 {
	border-top: 2px solid #fff;
	width: 90%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.social-link{
	font-size: 3.5rem;
}
.social-link a{
	padding: 1rem;
}

.fa-facebook{
	color: #3b5998;
}
.fa-instagram{
	color: #517fa4;
}
.fa-youtube{
	color: #bb0000;
}
.fa-facebook:hover{
	color: #d5d5d5;
}
.fa-instagram:hover{
	color: #d5d5d5;
}
.fa-youtube:hover{
	color: #d5d5d5;
}

.team-title1{
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.2;
	color: #2e2e2e;
}
.team-title2{
	font-size: 2.5rem;
	font-weight: 410;
	line-height: 1.2;
	color: #2e2e2e;
}
.carte-title{
	color: #2e2e2e;
	font-weight: 550;
	line-height: 1.4;
	font-size: 1.5em;
}
.carte-text {
	font-size: 1rem;
}

.carte-title-article{
	font-weight: 600;
	line-height: 1.6;
	font-size: 2em;
	padding-bottom: 1rem;
	text-transform: uppercase;
}
.carte-text-article {
	font-size: 1.1rem;
	justify-content: left;
}
#article{
	margin-top: 2rem;
}
#discover-button {
	display: flex;
	float: right;
}

.footer {
	margin: 0;
	padding: 0;
}
.boxfooter{
	background-color: #3f3f3f;
	background-size: 100% 30%;
}

.footertext {
	color: #fff;
	padding: 10px;
	margin: 0;
}
.card-header{
	font-weight: 600;
}

.article-title1{
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.2;
	color: #6a6a6a;
	text-transform: uppercase;
}
.article-title2{
	font-size: 2.5rem;
	font-weight: 410;
	line-height: 1.2;
	color: #353535;
}
.img-top:hover{
	opacity: 70%;
	transition: 0.5s all;
}

.register{
	position: relative;
	flex-grow: 1;

	&::before {
		content:'';
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-image: url('/img/guyane-ce2.jpg');
		background-size: cover;
		background-position: bottom right;
		opacity: 0.5;
	}
}

.login{
	position: relative;
	flex-grow: 1;

	&::before {
		content:'';
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-image: url('/img/guyane-ce2.jpg');
		background-size: cover;
		background-position: bottom right;
		opacity: 0.5;
	}
}

#article-search-form {
	width: 11vw !important;
}

.list-group-item {
	border-radius: 0px !important;
	width: 13.6vw !important;
	color: #fff;
	background-color: #7c7c7c;
}
.list-group-item:hover {
	background-color: #444;
}

/* Media Queries */

@media (min-width: 1386px){
	#text-guyane {
		max-width: 50%;
	}
}
@media (max-width: 1525px){
	.carte-title-article{
		font-size: 1.8rem;
	}
	#text-guyane {
		max-width: 50%;
	}
	#article {
		max-width: 70%;	
	}
	#text-menu{
		font-size: 2.2rem !important;
	}
}
@media (max-width: 1428px){
	.carte-title-article{
		font-size: 1.6rem;
	}
	#text-guyane {
		max-width: 50%;
	}
	#article {
		max-width: 80%;	
	}
	#text-menu{
		font-size: 2rem !important;
	}
}
@media (max-width: 1214px){
	.carousel-caption{
		top: 48%;
	}
	.carousel-caption h1{
		font-size: 410%;
	}
	.carousel-caption h2{
		font-size: 170%;
		padding-bottom: .2rem;
	}
	#text-guyane {
		max-width: 50%;
	}
	#article {
		max-width: 90%;
	}
	#text-menu{
		font-size: 1.8rem !important;
	}
}

@media (max-width: 1092px){
	.carousel-caption{
		top: 50%;
	}
	.carousel-caption h1{
		font-size: 380%;
	}
	.carousel-caption h2{
		font-size: 160%;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn{
		font-size: 95%;
		padding: 8px 14px;
	}
	.lead {
		font-size: 1rem;
		width: 85% !important;
	}
	.carte-title-article{
		font-size: 1.4rem;
	}
	.carte-text-article {
		font-size: 1rem;
		justify-content: left;
	}
	#text-menu{
		font-size: 1.8rem !important;
	}
}

@media (min-width: 992px){
	.social-link{
		font-size: 4rem;
	}
	.social-link a{
		padding: 2rem;
	}
	#text-menu-mobile{
		display: none !important;
	}
}

@media (max-width: 992px){
	.carousel-caption{
		top: 45%;
	}
	.carousel-caption h1{
		font-size: 320%;
	}
	.carousel-caption h2{
		font-size: 130%;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn{
		font-size: 90%;
		padding: 8px 14px;
	}
	.carte-title-article{
		font-size: 1.2rem;
	}
	.carte-text-article{
		font-size: 1rem;
		justify-content: left;
	}
	#discover-button{
		display: none;
	}
	#text-menu{
		font-size: 1.6rem !important;
		padding-top: 0rem !important;
	}
	#text-menu{
		display: none !important;
	}
	#header-bar{
		display: none !important;
	}
	#button-menu2{
		position: absolute;
		top: 0;
		color: #6a6a6a;
	}
	#dropdown-info{
		float: right !important;
	}
	#dropdown-menu{
		float: left !important;
	}
	#dropdown-info-item{
		text-align: right;
	}
	#article-show{
		padding: 0 !important;
		margin: 0 !important;
		max-width: 85%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	#article-show-menu{
		display: none !important;
	}
}

@media (max-width: 790px){
	.carousel-caption{
		top: 45%;
	}
	.carousel-caption h1{
		font-size: 300%;
	}
	.carousel-caption h2{
		font-size: 120%;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn{
		font-size: 90%;
		padding: 6px 12px;
	}
	#article{
		display: inline-block !important;
		padding-right: 0 !important;
		max-width: 85%;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	#text-guyane{
		max-width: 90%;
	}
	#discover-button {
		display: flex;
		float: right;
	}
	.movies-title{
		font-size: 3rem;
	}
}

@media (max-width: 600px){
	.carousel-caption h1{
		font-size: 240%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.carousel-caption h2{
		display: none;
	}
	.movies-title{
		font-size: 2.5rem;
	}
}

@media (max-width: 450px){
	.carousel-caption{
		top: 35%;
	}
}